<div class="row">
  <div *ngIf="professorSelecionado" class="col-sm-6">
    <app-titulo [titulo]="(professorSelecionado.id === 0 ? 'Novo Aluno' : 'Cód. Aluno: ' + professorSelecionado.id)">
          <div class="btn btn-sm btn-outline-danger" (click)="voltar()">Fechar</div>
        </app-titulo>
      

    <form [formGroup]="professorForm" (submit)="professorSubmit()">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input
          id="nome"
          formControlName="nome"
          type="text"
          class="form-control"
        />
      </div>
      <!-- <div class="form-group">
        <label for="disciplina">Disciplina</label>
        <input
          id="disciplina"
          formControlName="disciplina"
          type="text"
          class="form-control"
        />
      </div> -->
      <div class="form-group">
        <button
          class="btn btn-sm btn-outline-success"
          [disabled]="!professorForm.valid"
        >
          Salvar
        </button>
      </div>
    </form>
  </div>

  <div
    [ngClass]="{
      'col-sm-6': professorSelecionado,
      'col-sm-12': !professorSelecionado
    }"
  >
    <app-titulo [titulo]="titulo">
      <div class="btn btn-sm btn-outline-success" (click)="professorNovo()">Cadastrar Professor</div>
    </app-titulo>
    <br />
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Disciplina</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prof of professores">
          <th scope="row">{{ prof.id }}</th>
          <td>{{ prof.nome }}</td>
          <td>{{ prof.disciplina }}</td>
          <td>
            <div class="btn-group">
              <button
                class="btn btn-sm btn-outline-warning"
                (click)="professorSelect(prof)"
              >
                Detalhe
              </button>
              <button
                class="btn btn-sm btn-outline-primary"
                (click)="openModal(template)"
              >
                Alunos
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #template>
  <div class="modal-body">
    Alunos
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-danger pull-right"
      (click)="modalRef.hide()"
    >
      FECHAR
    </button>
  </div>
</ng-template>
